<div class="tips">
  <h1>Hello</h1>

  {Enum.random(1..10)}
  <pre>
    {@emojis}
  </pre>
  <ol>
    <%= for e <- @mytips do %>
      <li>
        <a href={~p"/tips/#{e.id}"}>
          {e.text}
        </a>
      </li>
    <% end %>
  </ol>
</div>
